<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.5.1" />
		<!-- Aumenta el tamaño máximo de subida a 50 MB -->
		<httpRuntime targetFramework="4.5.1" maxRequestLength="51200" executionTimeout="3600" />
		<pages maintainScrollPositionOnPostBack="true">
			<controls>
				<add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
			</controls>
		</pages>
		<!-- Gestion de errores -->
		<customErrors mode="Off">
			<error statusCode="404" redirect="VistaError/404.aspx" />
			<error statusCode="500" redirect="VistaError/500.aspx" />
		</customErrors>
		<sessionState timeout="60" />
		<authentication mode="Forms">
			<forms timeout="60" slidingExpiration="true" />
		</authentication>
	</system.web>
	<!-- Requerido para IIS 7+ (max upload permitido por servidor) -->
	<system.webServer>
		<handlers>
			<add name="AjaxFileUploadHandler" verb="*"
				 path="AjaxFileUploadHandler.axd"
				 type="AjaxControlToolkit.AjaxFileUploadHandler, AjaxControlToolkit"
				 preCondition="integratedMode" />
		</handlers>
		<security>
			<requestFiltering>
				<!-- 50 MB en bytes -->
				<requestLimits maxAllowedContentLength="52428800" />
			</requestFiltering>
		</security>
	</system.webServer>
	<!-- Cadena de conexion -->
	<connectionStrings>
		<!-- PRODUCCION -->
		<!--<add name="bdConexion" connectionString="data source = 148.234.49.71; user id = sa; password= $sql2017; initial catalog = DBBOLSADETRABAJO" />-->

		<!--<add name="bdConexion" connectionString="data source = 148.234.49.7; user id = sa; password= ManagerFacpya2016; initial catalog = DBBOLSADETRABAJO" />-->
		<!-- PRUEBAS -->
		<add name="bdConexion" connectionString="data source = 148.234.49.33; user id = sa; password= $sql2017; initial catalog = DBBOLSADETRABAJO" />
		<!-- LOCAL -->
		<!--<add name="bdConexion" connectionString="data source=DESKTOP-AA5EFV3\SQLEXPRESS; initial catalog=DBBOLSADETRABAJO; Integrated Security=True" />-->
	</connectionStrings>
	<!--Keys-->
	<appSettings>
		<add key="jwtSecretKey" value="E164EEDDA2D045AD9E25DB9DB0224C02" />
	</appSettings>
	<!-- Configuración del valor de la propiedad maxJsonLength en la configuración de aplicación -->
	<system.web.extensions>
		<scripting>
			<webServices>
				<jsonSerialization maxJsonLength="9999999" />
			</webServices>
		</scripting>
	</system.web.extensions>
</configuration>